.Form-body{
    align-self: center;
    align-content: center;
    align-items: center;
    text-align-last: center;
}


.Form-heading{
    align-self: center;
    align-content: center;
    align-items: center;
    text-align-last: center;    
}